{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "settings": {
    "import/resolver": "node"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "plugins": ["react"],
  "rules": {
    "react/sort-comp": "off",
    "linebreak-style": ["off", "unix"],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "quotes": ["warn", "single"],
    "max-len": ["warn", 80],
    "no-unused-vars": "warn",
    "no-prototype-builtins": "warn",
    "no-plusplus": "off",
    "prefer-template": "warn",
    "prefer-const": "warn",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/no-did-update-set-state": "warn",
    "react/prop-types": "off",
    "react/jsx-wrap-multilines": "off"
  }
}
